.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  position: relative;
}

.buttons-container {
  display: flex;
}
